<div class="back2">
    <mat-toolbar color="primary">
        <img src="assets/images/logo.png" width="30" height="30" class="d-inline-block" alt="">

        <span class="example2">ars.lk</span>
        <span class="example-spacer"></span>
        <span class="example1">Post Advertisement</span>

    </mat-toolbar>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="example-container">
                    <mat-form-field>
                        <input matInput placeholder="Accommodation ID" required>
                        <mat-icon matSuffix>mode_edit</mat-icon>

                    </mat-form-field>
                    <label class="lbl1">Enter any name include with three digit(ex:-abc123)</label>
                    <mat-form-field>
                        <input matInput placeholder="Title" required>
                        <mat-icon matSuffix>mode_edit</mat-icon>

                    </mat-form-field>
                    <mat-form-field>
                        <textarea matInput placeholder="Small Description"></textarea>
                      </mat-form-field>
                    
                    <mat-form-field>
                        <input matInput placeholder="Location" required>
                        <mat-icon matSuffix>mode_edit</mat-icon>

                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Accommodation ID" required>
                        <mat-icon matSuffix>mode_edit</mat-icon>

                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Accommodation ID" required>
                        <mat-icon matSuffix>mode_edit</mat-icon>

                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Accommodation ID" required>
                        <mat-icon matSuffix>mode_edit</mat-icon>

                    </mat-form-field>
                </div>
            </div>
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>

</div>

