.example-button-row {
    display: table-cell;
  }

  .example-spacer {
    flex: 1 2 auto;
    
  }
  .example1{
    margin-right: 20px;
    margin-top: 10px;
  }
  .example2{
    margin-top: 10px;
  }
  .d-inline-block{
    margin-top: 10px;
  }
 
  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  .example-tel-input-container {
    display: flex;
  }
  
  .example-tel-input-element {
    border: none;
    background: none;
    padding: 0;
    outline: none;
    font: inherit;
    text-align: center;
  }
  
  .example-tel-input-spacer {
    opacity: 0;
    transition: opacity 200ms;
  }
  
  :host.example-floating .example-tel-input-spacer {
    opacity: 1;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  .first{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 60px;
    margin-top: 1cm;
  }
  
  .back2{
    background-color: #d8dce3;
}
.outset{
  border-style: double;
  display: flex;
  flex-direction: column;
}
.btn-large-btn-submit{
  margin-left: 17cm;
  margin-right: 1cm;
  height: 70px;
  width: 10%;
  font: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}
.btn{
  height: 70px;
  width: 10%;
  
  font: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  

  
    