<div class="back">
<mat-toolbar color="primary">
  <img src="assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    <!--<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">-->
      <!--<mat-icon>menu</mat-icon>-->
      
    <!--</button>-->
    <span>ars.lk</span>
    <span class="example-spacer"></span>
    <button mat-button disabled>login</button>
  </mat-toolbar>
  <div class="container-fluid">
    <h1 class="firstLine">Welcome to ars.lk</h1>
    <h2 class="secondLine">Wanna know about a boarding place?  Wanna discuss about a boarding place?   Come let's join with us to solve your issues regarding boarding places</h2>
  

  <div class="row">
    <div class="col-sm-6"><img src="assets/images/logo.png" alt="Logo" width="500" height="333">
    </div>
    <div class="col-sm-6">
      
      <div class="containerbtn">
      <button routerLink="login" class="btn1" mat-raised-button color="primary">Login</button><br><br>
      <button routerLink="signup" class="btn1" mat-raised-button color="primary">Sign up</button>
    </div>
    </div>
  </div>
    


  </div>
</div>
